body {
    background-color: rgb(32, 33, 36);
    color: white;
    font-family: Tahoma, sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 200px;
}

/* Error styling */

input.has-errors {
    border-color: red;
}

input:focus {
    outline: rgb(255, 221, 0) solid 3px;
}

label.has-errors {
    color: red;
}

p.error-hint {
    color: red;
    font-size: small;
}

/* Welcome page */

div.welcome-inner-wrapper {
    margin-top: 50px;
    width: 100%;
    padding: 50px;
    text-align: left;
}

div.welcome-wrapper {
    text-align: center;
}

/* Submit button */

.submit-button {
    margin-top: 30px;
    width: 100%;
    background-color: rgb(34, 139, 34);
    border: 0;
    padding: 15px;
    color: white;
    font-size: 2rem;
}

.submit-button:hover {
    background-color: rgb(24, 120, 34);
}

.submit-button:focus {
    outline: rgb(255, 221, 0) solid 3px;
    border-color: rgb(32, 33, 36);
    border-width: 2px;
    border-style: solid;
}

.submit-button:disabled {
    cursor: wait;
    background-color: grey;
}

/* List entry */

.list-entry-inner-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 450px;
}

div.anime-image {
    width: 350px;
}

img.anime-image {
    max-width: 350px;
    max-height: 450px;
    width: 100%;
}

.anime-info {
    width: 610px;
}

.anime-details {
    width: 100%;
}

.table-row-value {
    text-align: right;
}

td {
    padding-top: 10px;
}

.new-random-entry-form {
    padding: 10px;
}

/* Update list */

.list-update {
    display: flex;
    padding: 10px;
}

.list-update__last-updated {
    flex-grow: 1;
    color: grey;
}

/* Secondary text */

.secondary-text {
    color: grey;
}

/* Secondary link */

.secondary-link {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: grey;
    /*font-weight: bold;*/
    font-size: 1em;
}

:focus.secondary-link {
    color: white;
}

:disabled.secondary-link {
    cursor: wait;
}

/* MyAnimeList link */

div.my-anime-list-link {
    padding: 10px;
    text-align: center;
}

/* Back link */

div.back-link {
    padding: 10px;
}
